{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | Assetra</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet" />
    <link href="{% static 'css/login.css' %}" rel="stylesheet" />
  </head>
  <body
    class="container min-w-[100dvw] min-h-[100dvh] flex items-center justify-center text-black"
  >
    <section
      class="container bg-custom-gradient max-w-[350px] rounded-xl flex justify-center py-4"
    >
      <div>
        <img
          src="{% static 'images/black-logo.png' %}"
          alt="logo"
          class="mx-auto"
          style="height: 2rem"
        />
        <h5 class="h5 text-center font-semibold text-[#2d6fd1] mt-2">
          Administration Portal
        </h5>

        {% if message %}
        <h6 class="h6 text-center font-normal text-red-400 mt-2">
          {{ message }}
        </h6>
        {% endif %}

        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <center>
              <input
                autofocus
                class="form-control w-4/5 rounded-md py-2 px-4 mt-4 bg-custom-gradient border border-[#2d6fd1]"
                type="text"
                name="username"
                placeholder="Username"
              />
            </center>
          </div>
          <div class="form-group">
            <center>
              <input
                class="form-control w-4/5 rounded-md py-2 px-4 mt-4 bg-custom-gradient border border-[#2d6fd1]"
                type="password"
                name="password"
                placeholder="Password"
              />
            </center>
          </div>
          <div class="w-full flex">
            <button
              class="text-white mt-4 mx-auto font-bold py-2 px-4 rounded shadow-lg transition duration-300 ease-in-out bg-custom-gradient2 hover:bg-sakura-gradient"
              type="submit"
            >
              Log In
            </button>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
