{% extends "admin_panel/layout.html" %} {% block body %}
<div class="container rounded-xl bg-base-200 shadow h-full px-16 py-6">
  <div id="referrals-view">
    <div class="flex justify-between items-center mb-6">
      <div class="text-left">
        <h5 class="h5 font-semibold">Top Referrers</h5>
        <h6 class="h6 font-normal">On Ecosystem</h6>
      </div>
      <div class="flex items-center">
        <form method="GET" action="{% url 'user_referrals' %}" class="mr-4">
          <input
            type="text"
            id="defult-search"
            name="search_term"
            class="block w-[20dvw] h-2/3 p-4 ps-10 text-sm rounded-full"
            placeholder="Search by username or email"
          />
        </form>
        <button type="button" class="text-[16px] font-normal">
          Sort By: Date {{order}}
        </button>
      </div>
    </div>
    <div>
      <ul class="space-y-2 overflow-y-auto scrollbar-hide">
        {% for user in leaderboard %}
        <li class="bg-gray-50 p-3 rounded-lg flex justify-between items-center">
          <span class="text-gray-800">
            <span class="font-medium">{{ user.username }}</span> - 
            <span class="font-medium">{{ user.referrals_count }}</span
            > referrals
          </span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
